.bg-box{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background-image: url("https://src3.minibai.com/static/uploads/background/img/585a57d4bd17c1ec36b6f1c9fea1e44f1584514049.jpg");
  background-position: center;
  background-size: cover;
}